@model Cart

<h2>Your Cart</h2>

<table>
    <tr>
        <th>Book</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Items)
    {
            <tr>
                <td>@item.Book.BookTitle</td>
                <td>@item.Book.BookPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    <a href="@Url.Action("RemoveFromCart", "Cart", new { productId = item.BookId })">Remove</a>
                </td>
            </tr>
    }
</table>

<h3>Total: @Model.TotalPrice.ToString("C")</h3>

<a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Proceed to Checkout</a>

